# ─── Credentials & Secrets ───────────────────────────────────
.env
security/nginx/.htpasswd
security/nginx/*.crt
security/nginx/*.key

# ─── Python ──────────────────────────────────────────────────
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
build/

# ─── Data & Artefak ──────────────────────────────────────────
data/*.parquet
data/*.csv
notebooks/.ipynb_checkpoints/

# ─── Docker ──────────────────────────────────────────────────
# Log Docker tidak perlu di-commit

# ─── IDE ─────────────────────────────────────────────────────
.idea/
.vscode/
*.swp

# ─── MLflow ──────────────────────────────────────────────────
mlruns/
mlflow/

# ─── DVC ─────────────────────────────────────────────────────
/tmp/
.dvc/cache/

# ─── Log ─────────────────────────────────────────────────────
*.log
logs/
airflow/logs/
